@page
@model BlueModas.UI.Pages.CartModel
@{
}


<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="~/images/item.jpg" />
                        </figure>
                    </div>
                    <div class="level-item">
                        <p class="title is-size-5">@product.Name</p>
                    </div>
                    <div class="level-item">
                        <p>@product.Quantity</p>
                    </div>
                    <div class="level-item">
                        <p>@product.Price</p>
                    </div>
                </div>
            }

            <div class="has-text-right">
                <a asp-page="/Index" class="button is-text">Vou dar mais uma olhadinha</a>
                <a asp-page="/Checkout/CustomerInformation" class="button is-success">Finalizar Compra</a>
            </div>

        </div>
    </div>
</div>