@page
@model BlueModas.UI.Pages.CartModel
@{
}


<div>
    @foreach (var product in Model.Cart)
    {
        <p>@product.Name</p>
        <p>@product.Price</p>
        <p>@product.Quantity</p>
        <p>@product.StockId</p>
        <hr />
    }
</div>

<vc:cart view="Small"></vc:cart>