@page
@model BlueModas.UI.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="section">
    <div class="columns is-multiline is-mobile">
        @{
            foreach (var p in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-6-mobile">
                    <a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="~/images/item.jpg" />                                    
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-size-5">
                                    @p.Name @p.Price
                                </p>
                                <p class="subtitle">
                                    @p.Description
                                </p>

                                <div class="content">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        }
    </div>
</div>